	.fallingBlocks {
		left:-100px;
		top: -100px;
		width: 100px;
		height: 100px;
		position: absolute;
		background-color: blue;
		text-align: center;
		animation-name: normalFall;/* this line was changed it now works with new animation options */
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-fill-mode: none;
		;
	}
	@keyframes normalFall{
		0% {left: -100px;}
		100%{left: -100px;}
	}
	@keyframes blockFall1 {
		0% {left: 20px; top: 30px;}
		100% {left: 20px; top: 715px;}
	}
	@keyframes blockFall2 {
		0% {left: 120px; top: 30px;}
		100% {left: 120px; top: 715px;}
	}
	@keyframes blockFall3 {
		0% {left: 220px; top: 30px;}
		100% {left: 220px; top: 715px;}
	}
	@keyframes blockFall4 {
		0% {left: 320px; top: 30px;}
		100% {left: 320px; top: 715px;}
	}
/*
.fallingBlocks {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: whitesmoke;
    text-align: center;
    animation-name: normalFall;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes normalFall{
    0% {left: -100px;}
    100%{left: -100px;}
}
@keyframes blockFall1 {
    0% {left: 20px; top: 20px;}
    50% {left: 20px; top: 350px; background-color: whitesmoke;}
    90% {left: 20px; top: 600px; opacity: 1;background-color: red;}
    99% {left: 20px; top: 725px; opacity: 0;background-color: red}
    100%{left: 20px; top: 800px; opacity: 0; background-color: red} 
}
@keyframes blockFall2 {
    0% {left: 120px; top: 20px;}
    50% {left: 120px; top: 350px; background-color: whitesmoke;}
    90% {left: 120px; top: 600px; opacity: 1;background-color: red;}
    99% {left: 120px; top: 725px; opacity: 0;background-color: red;}
    100%{left: 120px; top: 800px; opacity: 0;background-color: red;}
}
@keyframes blockFall3 {
    0% {left: 220px; top: 20px;}
    50% {left: 220px; top: 350px; background-color: whitesmoke;}
    90% {left: 220px; top: 600px; opacity: 1;background-color: red;}
    99% {left: 220px; top: 725px; opacity: 0;background-color: red;}
    100%{left: 220px; top: 800px; opacity: 0;background-color: red;}
}
*/